body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.circle {
  background-color: white;
  width: 15px;
  height: 15px;
  margin-top: 0px;
  padding-top: 0px;
  border-radius:100%;
  display: inline-block;
  color: white;
  text-align: center;
  font-family: helvetica;
/*   position: absolute; */
  left: 0;
  top: 0;
}

